
body {
    margin: 0;
}
.hidden {
    display: none;
}
/* .logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
} */

#spinner {
    /* display: flex; */
    position: absolute;
    width: 100px;
    height: 100px;
    /* justify-content: center;
    align-items: center; */
    animation: spin 5s linear infinite;
}

#spinner img {
    /* max-width: 100px;
    min-width: 100px; */
    margin: 0 auto;
}

#fidgetSpinner {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#pentagram {
    animation: fadeInOut 3s ease-in-out infinite;
    animation: pentagramspin 5s linear infinite;
}
#pentagram img {
    /* max-width: 100px;
    min-width: 100px; */
    margin: 0 auto;
    
}


@keyframes pentagramspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#pentagram img {

  
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}